<div class="row">
  <div class="col-lg-12">
    <h1>レストラン詳細</h1>
    <dl>
      <dt>店舗情報</dt>
      <dd><%= @restaurant.restaurant_name %>
      </dd>
      <dt>レビュー平均点</dt>

      <dt>当該レストランに関するすべてのレビュー</dt>

    </dl>
  </div>
</div>


<hr>

<div class="row">
<div class="col-lg-12">
<h2>対応履歴</h2>
<% @restaurants.each do |restaurant| %>
<div class = "media">
<div class = "media-body">
<p><%= simple_format(restaurant.body) %></p>
<p class = "text-muted">
投稿日時:<%= restaurant.created_at.strftime('%Y/%m/%d %H:%M') %>
<%= link_to "削除する", restaurant_path(restaurant), method: :delete %>
</p>
</div>
</div>
<% end %>
</div>
</div>

<%= form_for @restaurant, url: { controller: :restaurants, action: :create } do |f| %>
<div class="form-group">
<%= f.label :body, '対応内容' %><br />
<%= f.text_area :body, class: "form-control" %>
</div>
<%= f.hidden_field :customer_id, value: @customer.id %>
<%= f.submit "投稿する", class: "btn btn-default" %>
<% end %>
